.board-header {
    display: grid;
    grid-template-rows: 1fr 66px;
    padding-right: $layout-padding;
    padding-left: 36px;
    padding-top: 16px;

    .header {

        .top-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 42px;

            .board-title {
                font-size: rem(32px);
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                left: -6px;
                line-height: .4;
                padding: 6px;
                letter-spacing: -1px;
                border-radius: .1em;
                transition: padding .4s;
                height: 100%;

                &:hover {
                    outline: 1px solid $brdr-clr;
                }

                &:focus {
                    outline: 1px solid $primary-blue;
                }

                &.editing {
                    padding-right: 200px;
                }
            }
        }

        span {
            cursor: pointer;
        }

        .add-views {
            display: flex;
            align-items: center;
            border-bottom: 1px solid $brdr-clr;
            margin-top: 10px;
            gap: 10px;

            .seperator {
                color: $brdr-clr;
            }

            .view-item {
                display: flex;
                align-items: center;
                background-color: transparent;

                height: 36px;
                // width: 110px;

                &.selected {
                    box-shadow: inset 0px -2px 0px 0px $primary-blue;
                }
            }



            .view-title {
                padding-left: 6px;
                font-size: rem(14px);
                font-family: roboto-medium;
                color: $layout-black;
            }
        }
    }
}