.board-filter {
    display: flex;
    gap: 20px;
    position: relative;

    .add-new-btns {
        background-color: $primary-blue;
        

        button {
            color: white;
            padding: 0;
            height: 100%;
            width: 75px;
            border-radius: .2em;

            &:hover {
                background-color: (darken($primary-blue, 8%))
            }
        }

        .add-new-group-btn {
            height: 100%;
            border-top-right-radius: .2em;
            border-bottom-right-radius: .2em;
            width: 28px;
            border-left: 1px solid (darken($primary-blue, 8%));


            &:hover {
                background-color: (darken($primary-blue, 8%))
            }
        }

        svg {
            fill: white;
        }

        &:hover {
            background-color: ($primary-blue)
        }


    }

    .person-attach {
        svg {
            margin-left: 5px
        }
    }

    .search-tasks {
        position: relative;
        &.input-open {
            outline: 1px solid $primary-blue
        }
        &.filtering {
            background-color: $fltr-bgc;
        }
        .cancel {
            position: absolute;
            right: 8px;
                svg {
                    fill: $primary-blue;
                    scale: 0.8;
                }
        }
        input {
            &::placeholder{
                color: $layout-black;
            }

                
            background-color: transparent;
            width: 60px;
            transition: width .4s;
            height: 100%;
            cursor: pointer;
            &.open {
                width: 190px;
                cursor: text;
            }
        }
        svg {
            margin-left: 5px
        }
    }

    >* {
        @include btn;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;


        button {
            background-color: transparent;
            padding: 0;
            padding-right: 10px;
            font-family: roboto-regular;
            font-size: rem(14px);
            color: $layout-black;
        }

        svg {
            fill: $layout-black;
        }

        &:hover {
            background-color: $brdr-clr;
        }
    }

}