.board-header {
    display: grid;
    grid-template-rows: 1fr 66px;
    padding-right: 30px;
    padding-left: 36px;
    padding-top: 16px;

    .header {
        .top-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 42px;

            .board-title {
                font-size: rem(32px);
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                left: -6px;
                line-height: 0.4;
                padding: 6px;
                letter-spacing: -1px;
                border-radius: 0.1em;
                transition: padding 0.4s;
                height: 100%;

                &:hover {
                    outline: 1px solid $brdr-clr;
                }

                &:focus {
                    outline: 1px solid $primary-blue;
                }

                &.editing {
                    padding-right: 200px;
                }
            }

            .board-title-right-container {
                display: flex;
                align-items: center;
                gap: 8px;

                .last-seen {
                    img {
                        height: 24px;
                        width: 24px;
                        // display: none;
                        margin-left: 4px;
                    }
                }

                div {
                    font-size: rem(14px);
                    padding: 4px 8px;
                    display: flex;
                    align-items: center;
                    border-radius: 4px;

                    span {
                        margin-right: 4px;
                    }

                }

                .invite {
                    position: relative;
                    cursor: pointer;

                    a {
                        visibility: hiden;
                        position: absolute;
                        top: 0;
                        height: 28px;
                        width: 73.71px;

                    }
                }
            }
        }

        span {
            cursor: pointer;
        }

        .add-views {
            display: flex;
            align-items: center;
            border-bottom: 1px solid $brdr-clr;
            margin-top: 10px;
            gap: 10px;

            .separator {
                color: $brdr-clr;
            }

            .view-item {
                display: flex;
                align-items: center;
                background-color: transparent;

                height: 36px;
                // width: 110px;

                &.selected {
                    box-shadow: inset 0px -2px 0px 0px $primary-blue;
                }
            }

            .view-title {
                padding-left: 6px;
                font-size: rem(14px);
                font-family: roboto-medium;
                color: $layout-black;
            }
        }
    }

    @include for-mobile-layout {
        padding: 16px;
        display: flex;
        // grid-template-rows: 1fr;

        .header {
            display: flex;
            position: relative;
            flex-wrap: wrap;
            width: 100%;

            .top-header {
                flex-basis: 100%;
                position: relative;
                justify-content: center;
                margin-bottom: 18px;

                .board-title {
                    &.editing {
                        padding-right: 8px;
                    }
                }

                .board-title-right-container {
                    display: none;
                }


                a {
                    position: absolute;
                    left: -16px;
                    display: block !important;
                }
            }

            .add-views {
                display: none;
            }

            .add-views-mobile {
                z-index: 50000;
                display: flex !important;
                align-items: center;
                position: relative;
                box-sizing: content-box;
                width: 120px;
                padding: 6px;
                background-color: lighten($brdr-clr, 6%); // necessary for overlaying hover bg-color of selected option

                &:hover svg {
                    transform: scale(1.1);
                }

                button {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 3;
                    border: none;
                    outline: none;
                    background: none;
                    cursor: pointer;

                    &:focus {
                        &~svg {
                            transform: rotate(-180deg);
                            //transform: scaleY(-1);
                        }
                    }
                }

                .options {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }

                input {
                    display: none;

                    &:checked+label {
                        font-size: rem(14px);
                        font-family: roboto-medium;
                        display: flex;
                        align-items: center;
                        z-index: 2;
                        transform: none !important;


                    }
                }

                label {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 40px;
                    z-index: 1;
                    padding: 6px;
                    line-height: 1;
                    background-color: lighten($brdr-clr, 6%);
                    cursor: pointer;
                    transition: background-color 0.2s, transform 0.2s ease;
                    font-size: rem(14px);
                    font-family: roboto-medium;

                    &:hover {
                        background-color: grey;
                    }
                }

                button:focus+.options input:not(:checked)+label,
                .options label:active,
                .options label:active~label {
                    transform: translateY(calc(var(--index) * 100%));
                }

                button:focus+.options input:checked+label~label,
                .options input:checked~label:active,
                .options input:checked~label:active~label {
                    transform: translateY(calc((var(--index) - 1) * 100%));
                }

                svg {
                    position: absolute;
                    width: 21px;
                    right: 6px;
                    top: 10px;
                    z-index: 2;
                    fill: currentColor;
                    transition: transform 0.1s;
                }
            }

            .board-filter {
                display: flex;
                align-items: center;
                justify-content: center;
                position: static;
                background-color: lighten($brdr-clr, 6%);
                height: 40px;
                margin-left: 8px;


                .filter {
                    margin: 0;
                    padding-right: 16px;
                    padding-left: 8px;

                    button {
                        padding: 0;
                    }
                }

                .search-tasks {
                    position: absolute;
                    right: 0px;
                    background-color: lighten($brdr-clr, 6%);
                    margin: 0;
                    width: 40px;
                    height: 40px;
                    border-radius: 0px;
                    transition: .4s;

                    span {
                        position: relative;
                        right: 3px;
                        scale: .8;
                    }

                    .search-input {
                        display: none;
                    }
                    &.input-open{
                        width: 40%;
                    }

                    .search-input-mobile{

                        &.open{
                            width: 100%;
                            display: block !important;
                        }
                    }
                }


            }



        }
    }
}