.board-filter {
    display: flex;
    gap: 20px;
    position: relative;

    .add-new-btns {
        background-color: $btn-blue;
        

        button {
            color: white;
            padding: 0;
            height: 100%;
            width: 75px;
            border-radius: .2em;

            &:hover {
                background-color: (darken($btn-blue, 8%))
            }
        }

        .add-new-group-btn {
            height: 100%;
            border-top-right-radius: .2em;
            border-bottom-right-radius: .2em;
            width: 28px;
            border-left: 1px solid (darken($btn-blue, 8%));


            &:hover {
                background-color: (darken($btn-blue, 8%))
            }
        }

        svg {
            fill: white;
        }

        &:hover {
            background-color: ($btn-blue)
        }


    }

    .person-attach {
        svg {
            margin-left: 5px
        }
    }

    .search-tasks {
        svg {
            margin-left: 5px
        }
    }

    >* {
        @include btn;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;


        button {
            background-color: transparent;
            padding: 0;
            padding-right: 10px;
            font-family: roboto-regular;
            font-size: rem(14px);
            color: $layout-black;
        }

        svg {
            fill: $layout-black;
        }

        &:hover {
            background-color: $brdr-clr;
        }
    }

}