.group-preview {
    background-color: $clr--white;

    &.ghost,
    .ghost {
        opacity: 0.2;
    }

    &.task-dragged,
    .group-dragged {
        box-shadow: 0 0 30px 2px black;
    }

    position: relative;
    margin-bottom: 28px;
    padding-right: 12px;

    .group-title {
        position: relative;
        height: 40px;
        cursor: grab;
        display: flex;
        align-items: center;


        .group-title-content {
            height: 60%;

            position: sticky;
            left: 72px;

            .title-modal {
                z-index: 80;

                p {
                    width: 100px;
                }
            }

            h4 {
                display: flex;
                position: relative;
                right: 5px;
                align-items: center;
                padding-right: 10px;
                padding-left: 5px;
                cursor: text;
                height: 100%;

                &:hover {
                    outline: 1px solid $brdr-clr;
                }

                &:focus {
                    border-radius: .2em;
                    outline: 1px solid $primary-blue;
                }
            }
        }

        .options {
            left: 0px;
        }

        .group-arrow {
            left: 36px;

            &.closed {
                transform: rotate(180deg);
            }
        }

        .options,
        .group-arrow {
            cursor: pointer;
            width: 36px;
            height: 100%;
            transition: .4;
            position: sticky;
            background-color: white;
        }


        &:hover {
            .options {


                span {
                    visibility: inherit;
                    height: 100%;
                }

                .more {
                    &:hover {
                        color: #000;

                        background-color: $brdr-clr;
                        // padding-left: 8px;
                        border-radius: 7px;
                        cursor: pointer;
                    }
                }
            }

            .task-count {
                visibility: inherit;
                color: $layout-gray;
                font-size: rem(14px);
                margin: 0;
                height: 100%;
                padding: 0;
                margin-left: 2px;
                font-family: roboto-light;

                //////////XXX////
                padding-top: 5px;
            }
        }
    }

    .minimized {
        border: 1px solid $brdr-clr;
    }

    .highlight {
        background-color: $fltr-bgc;
        color: $layout-black;
    }
}