.group-preview {
    position: relative;
    margin-bottom: 28px;
    padding-right: 12px;

    .group-title {
        position: relative;
        height: 40px;
        cursor: grab;
        align-items: center;

        h4{
            display: flex;
            position: relative;
            right: 5px;
            align-items: center;
            padding-right: 10px;
            padding-left: 5px;
            height: 60%;
            cursor: text;

            &:hover{
                outline: 1px solid $brdr-clr;

            }

            &:focus{
                border-radius: .2em;
                outline: 1px solid $primary-blue;
            }
        }


        .group-arrow,
        .options {

            width: 36px;
        }

        &:hover {
            // background-color: $wrkspce-bgc;

            .options {
                visibility: inherit;
                background-color: white;
                height: 100%;

                .more {
                    &:hover {
                        color: #000;

                        background-color: $brdr-clr;
                        // padding-left: 8px;
                        border-radius: 7px;
                        cursor: pointer;
                    }
                }
            }

            .task-count {
                visibility: inherit;
                color: $layout-gray;
                font-size: rem(14px);
                margin-left: 8px;
                margin-top: 6px;
                // line-height: rem(22px);
                font-family: roboto-light;
            }
        }
    }

    .minimized {
        border: 1px solid $brdr-clr;
    }

    .highlight {
        background-color: $fltr-bgc;
        color: $layout-black;
    }
}