.option-modal {
    position: absolute;
    top: 30px;
    left: 85px;
    background: $clr--white;
    border-radius: 10px;
    z-index: 10;
    box-shadow: 0 4px 17px 6px rgb(0 0 0 / 10%);

    .modal-group {
        padding: 8px;

        .title {
            flex: 1;
            margin-left: 8px;

        }

    }

    

    .modal-item {
        padding: 4px 8px;
        border-radius: .3em;
        cursor: pointer;

        p{
            font-size: rem(14px);
        }

        &:hover {
            background-color: $brdr-clr;
        }
    }

    .task-option {
        width: 225px;
    }
}


//264pxx