.regular-modal {
    position: fixed;
    z-index: 1000;

    //need to set position and other prefs. at children cmp
    >* {
        z-index: 10;
        background: $clr-white;
        position: absolute;
        box-shadow: 0 4px 17px 6px rgb(0 0 0 / 10%);
    }



    // Dynamic modals (modal-children's) prefs set:

    // board-filters modals
    .new-item-modal {
        width: 220px;
        top: 44px;
        left: 75px;
        border-radius: 8px;

        .modal-group {
            padding: 8px;
        }

        .modal-item {
            cursor: pointer;
            padding: 4px 8px;
            border-radius: 4px;

            &:hover {
                background-color: $modal-hover-clr;
            }

            .title {
                font-size: rem(14px);
            }

            span {
                margin-right: 8px;
            }
        }
    }

    .filter-person-modal {
        width: 420px;
        height: 141px;
        top: 44px;
        left: 75px;
        padding: 16px;
        border-radius: 8px;

        .title {
            font-family: roboto-medium;
            font-size: rem(15px);
            height: 32px;
            cursor: default;
        }

        .subtitle {
            font-size: rem(14px);
            margin-bottom: 16px;
            cursor: default;
        }

        .filter-user {
            cursor: pointer;
            // margin-top: 5px;
            width: 40px;
            height: 40px;
            border-radius: 2em;
            display: flex;
            align-items: center;
            justify-content: center;

            &.selected {
                background-color: $btn-active;
            }

            img {
                width: 30px;
                height: 30px;
            }
        }
    }

    .more-options-modal {
        width: 264px;
        left: 11px;
        border-radius: 10px;

        .modal-group {
            padding: 8px;
        }

        .modal-item {
            height: 32px;
            cursor: pointer;
            padding: 4px 8px;
            border-radius: 4px;

            &:hover {
                background-color: $modal-hover-clr;
            }

            .title {
                font-size: rem(14px);
            }

            span {
                margin-right: 8px;
            }
        }
    }

    .task-opt-modal {
        top: 36px;
    }

    .modal-group {
        position: sticky;
        left: 36px;
    }

    .group-opt-modal {
        top: 40px;

        >* {
            div {
                p {
                    margin-top: 1px;
                }
            }
        }

        .upper-group {
            border-bottom: 1px solid $hr-clr;
        }

        .lowest-group {

            .delete-group {
                margin-left: 2px;

                div {
                    display: flex;
                    align-items: center;

                    p {
                        padding-left: 1px;
                    }

                }
            }
        }
    }

    .person-select-modal {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 89vh;
        left: calc(50vw - 160px - 300px);
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        min-width: 600px;
        height: 63px;
        border-radius: 10px;

        .left-sec {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
        }


        .selected-count {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 30px;
            font-family: roboto-light;
            width: 63px;
            height: 100%;
            background-color: $primary-blue;
        }

        h2 {
            font-size: 24px;
            font-family: roboto-thin;
            margin-left: 18px;

        }

    }

    .right-sec {
        display: flex;
        align-items: center;
        height: 100%;

        >* {
            width: 63px;
            height: 100%;
        }

        .close-modal-btn {
            cursor: pointer;
            border-left: 1px solid $brdr-clr;
        }

        .tasks-item {
            cursor: pointer;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .delete-tasks-btn {
                scale: .8;
                position: relative;
                top: 6px;
                fill: $layout-gray;
            }

            p {
                font-size: 13px;
                font-family: roboto-light;
                padding-bottom: 6px;
                color: $layout-gray;
            }
        }
    }
}