.regular-modal {
    >* {
        //need to set position and other prefs. at children cmp
        box-shadow: 0 4px 17px 6px rgb(0 0 0 / 10%);
        border-radius: 10px;
        position: absolute;
        background: $clr--white;
        z-index: 10;

        .modal-group {


            .title {
                flex: 1;
                font-family: roboto-medium;
                font-size: rem(15px);
                color: $layout-black;
            }

            .subtitle {
                font-family: roboto-light;
            }

        }
    }

    .modal-item {
        padding: 4px 8px;
        border-radius: .3em;

        p {
            font-size: rem(14px);
        }

        .filter-user {
            cursor: pointer;
            margin-top: 5px;
            width: 40px;
            height: 40px;
            border-radius: 2em;
            display: flex;
            align-items: center;
            justify-content: center;

            &.selected {
                background-color: lighten($btn-active, 3%);
            }

            img {
                width: 30px;
                height: 30px;
            }
        }
    }

    // Dynamic modals (modal-children's) prefs set:

    .task-options {
        width: 225px;
        top: 36px;
        left: 11px;
    }

    // board-filters modals
    .new-item-modal {
        width: 220px;
        top: 44px;
        left: 75px;
    }

    .filter-person-modal {
        height: 141px;
        padding: 16px;
        width: 420px;
        top: 44px;
        left: 75px;
    }

    .group-opt-modal {
        cursor: pointer;
        height: 141px;
        padding: 16px;
        width: 420px;
        top: 40px;
        left: 10px;
    }
}