.regular-modal {
    //need to set position and other prefs. at children cmp
    > * {
        z-index: 10;
        background: $clr--white;
        position: absolute;
        box-shadow: 0 4px 17px 6px rgb(0 0 0 / 10%);
    }
    // .modal-group {
    // padding: 8px;
    // .modal-item {

    //     .title {
    //         flex: 1;
    //         // font-family: roboto-medium;
    // font-size: rem(15px);
    //         color: $primary-text-color;
    //     }
    //     .subtitle {
    //         font-family: roboto-light;
    //     }
    // }

    // span {
    //     margin-right: 8px;
    // }
    // }

    // Dynamic modals (modal-children's) prefs set:

    // board-filters modals
    .new-item-modal {
        width: 220px;
        top: 44px;
        left: 75px;
        border-radius: 8px;
        .modal-group {
            padding: 8px;
        }

        .modal-item {
            cursor: pointer;
            padding: 4px 8px;
            border-radius: 4px;
            &:hover {
                background-color: $modal-hover-clr;
            }
            .title {
                font-size: rem(14px);
            }
            span {
                margin-right: 8px;
            }
        }
    }

    .filter-person-modal {
        width: 420px;
        height: 141px;
        top: 44px;
        left: 75px;
        padding: 16px;
        border-radius: 8px;

        .title {
            font-family: roboto-medium;
            font-size: rem(15px);
            height: 32px;
            cursor: default;
        }
        .subtitle {
            font-size: rem(14px);
            margin-bottom: 16px;
            cursor: default;
        }

        .filter-user {
            cursor: pointer;
            // margin-top: 5px;
            width: 40px;
            height: 40px;
            border-radius: 2em;
            display: flex;
            align-items: center;
            justify-content: center;

            &.selected {
                background-color:$btn-active;
            }

            img {
                width: 30px;
                height: 30px;
            }
        }
    }

    .more-options-modal {
        width: 264px;
        left: 11px;
        border-radius: 10px;

        .modal-group {
            padding: 8px;
        }

        .modal-item {
            cursor: pointer;
            padding: 4px 8px;
            border-radius: 4px;
            &:hover {
                background-color: $modal-hover-clr;
            }
            .title {
                font-size: rem(14px);
            }
            span {
                margin-right: 8px;
            }
        }
    }

    .task-opt-modal {
        top: 36px;
    }
    .group-opt-modal {
        top: 40px;
        .upper-group {
            border-bottom: 1px solid $hr-clr;
        }
    }
}
