.main-nav {
    background-color: $primary-brand;
    color: white;
    padding-top: $layout-padding;
    padding-bottom: $layout-padding;
    z-index: 50;

    .top-nav {
        position: relative;
        width: 100%;

        :nth-child(2) {
            &::after {
                content: "";
                width: 0;
                height: 0;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-right: 6px solid $wrkspce-bgc;
                position: absolute;
                right: 0px
            }
        }

        a {
            display: flex;
            align-items: center;
            width: 80%;




        }

        .active {}


        .logo {
            padding: 6px;
            width: 42px;
            height: 42px;
            border-radius: .4em;
            margin-bottom: 8px;

            &:hover {
                background-color: darken($layout-black, 10%);
            }


        }

        >* {
            display: flex;
            justify-content: center;
        }

        >*:first-child {
            box-shadow: 0px 1px 0px 0px $layout-gray;
        }

        >*:last-child {
            margin-top: 8px;
            width: 42px;
            height: 42px;
            border-radius: .4em;


            &:hover {
                background-color: darken($layout-black, 10%);
            }
        }
    }

    .bottom-nav {

        .profile {
            @include profile;
            width: 45px;
            height: 45px;
            border: 2px solid white;
            font-size: rem(20px);
            font-family: roboto-medium;
            // cursor: default;

        }
    }

}