.main-nav {
    background-color: $primary-brand;
    color: white;
    padding-top: $layout-padding;
    padding-bottom: $layout-padding;


    .top-nav {
        width: 100%;

        .logo {
            padding: 6px;
            width: 42px;
            height: 42px;
            border-radius: .4em;
            margin-bottom: 8px;

            &:hover {
                background-color: darken($layout-black, 10%);
            }
        }

        >* {
            display: flex;
            justify-content: center;
        }

        >*:first-child {
            box-shadow: 0px 1px 0px 0px $layout-gray;
            width: 75%;
        }

        >*:last-child {
            margin-top: 8px;
            width: 42px;
            height: 42px;
            border-radius: .4em;


            &:hover {
                background-color: darken($layout-black, 10%);
            }
        }
    }

    .bottom-nav {

        .profile {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $clr-drk-orng;
            width: 45px;
            height: 45px;
            border-radius: 2em;
            border: 2px solid white;
            font-family: roboto-medium;
            font-size: rem(20px);
            cursor: pointer;
        }
    }

}