.task-list {
    .columns {
        .titles {
            cursor: grab;

        }
    }
    .li-wrapper {
        position: relative;
        &.beingEdit {
            background-color: $fltr-bgc;
            .content-li:hover{
                background-color: unset;
            }

        }
        .content-li .beingEdit {
            background-color: $fltr-bgc;
        }
    }

    li {
        display: grid;
        color: $layout-black;
        grid-template-columns: 36px 36px repeat(auto-fit, 150px);
        grid-auto-columns: 150px;
        grid-auto-flow: column;
        grid-template-rows: 36px;

        .task-members {
            position: relative;
            cursor: pointer;
        }

        &.content-li {
            .options {
                background-color: white;
                position: sticky;
                left: 0px;
                z-index: 1000;
            }

            // position: relative;
            &:hover {
                background-color: $wrkspce-bgc;

                .options {
                    span {
                        visibility: visible;
                        background-color: white;
                    }

                    .more {
                        &:hover {
                            color: #000;

                            background-color: $brdr-clr;
                            // padding-left: 8px;
                            border-radius: 7px;
                            cursor: pointer;
                        }
                    }
                }

                &.labels {
                    opacity: 0.9;
                }
            }
        }

        .empty-fill-span {
            height: 100%;
            border-right: none;
        }
        &:first-child {
            span {
                justify-content: center;
            }
        }

        > *:not(:first-child) {
            justify-self: space-between;
            display: flex;
            align-items: center;
            color: lighten($layout-black, 10%);
            border-bottom: 1px solid $brdr-clr;
            border-right: 1px solid $brdr-clr;
        }

        > *:not(:first-child) {
            justify-self: space-between;
            display: flex;
            align-items: center;
            color: lighten($layout-black, 10%);
            border-bottom: 1px solid $brdr-clr;
            border-right: 1px solid $brdr-clr;
        }

        .task-select {
            border-left: 5px solid $layout-gray;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            position: sticky;
            left: 36px;
            background-color: white;
            z-index: 500;

            > * {
                cursor: pointer;
                height: 16px;
                width: 16px;
            }
        }

        .status-item {
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                opacity: 0.9;
            }
        }

        .task-members {
            .add-person-icon {
                scale: 0.9;
                fill: $primary-blue;
                position: absolute;
                left: 6px;
                opacity: 0;
            }

            &:hover {
                .add-person-icon {
                    opacity: 1;
                }
            }

            position: relative;
            height: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            .task-avatar {
                position: relative;
                display: flex;
                background-size: cover;
                width: 30px;
                height: 30px;
                border: 2px solid white;
                border-radius: 2em;
                box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
                margin: 0 -5px;
            }

            .default-person {
                scale: 0.8;

                svg {
                    fill: lighten($layout-gray, 12%);
                    border-radius: 2em;
                }
            }
        }

        .numbers,
        .txt {
            &:hover {
                @include cellBorderHover;

                .not-editing-mode {
                    visibility: inherit;
                }
            }

            .plus {
                svg {
                    fill: $primary-blue;
                    scale: 0.8;
                }
            }

            .editing-mode {
                margin: 0;
                padding: 4px;
                height: 100%;
                outline: 0.5px solid $primary-blue;

                .inner-frame {
                    padding: 4px;
                }

                width: 100%;

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    appearance: none;
                }

                input {
                    height: 100%;
                    outline: 0.5px solid $primary-blue;
                    text-align: center;

                    width: 100%;
                }
            }
        }

        // Cols style:
        .header-task-select {
            border-top-left-radius: 0.3em;
        }

        .add-task-select {
            border-bottom-left-radius: 0.3em;
            border-left: 5px solid lighten($layout-gray, 30%);
        }

        .timeline {
            position: relative;

            .range {
                border-radius: 11px;
                max-width: 100%;
                width: 100%;
                height: 22px;
                background-color: $layout-black;
                margin-inline: 16px;
                overflow: hidden;
                display: flex;
                align-items: center;

                .value {
                    height: 100%;
                    // position: absolute;
                    align-self: flex-start;
                    justify-self: grid;
                }

                .text {
                    position: absolute;
                    // height: min-content;
                    // line-height: 1;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: $clr-white;
                    font-size: rem(12px);
                    width: 80%;
                    text-align: center;
                    padding-left: 10%;
                    padding-right: 10%;
                }
            }
        }

        .labels {
            position: relative;
            width: 100%;
            height: 100%;

            .label-name {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                cursor: pointer;

                &:hover {
                    opacity: 0.9;
                }
            }
        }

        .link {
            @include cellBorderHover;

            a {
                color: $clr-dark-blue;
            }
        }
    }

    .shallow {
        .static {
            padding-inline: 10px;
        }

        textarea {
            resize: none;
        }
    }

    .task-date {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &:hover {
            @include cellBorderHover;
            cursor: text;
        }
    }

    .task-list-item-header,
    .task-title-item {
        grid-column: 3/6;
        position: sticky;
        background-color: white;
        left: 72px;
        z-index: 500;
    }

    .task-title-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;

        span {
            height: 60%;

            .task-title {
                text-overflow: ellipsis;
                display: flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                overflow: hidden;
                border: none;
                margin-left: 25px;
                padding-left: 5px;
                padding-right: 5px;
                cursor: text;
                height: 100%;

                &:hover {
                    outline: 1px solid $brdr-clr;
                }

                &:focus {
                    border-radius: 0.2em;
                    outline: 1px solid $primary-blue;
                }
            }
        }
    }

    .task-comment-icon {
        height: 100% !important;
        padding: 0px 16px;
        border-left: 1px solid $brdr-clr;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        transition: 0.4;

        &:hover {
            fill: $primary-blue;
        }

        &.count-comment span svg {
            color: $primary-blue;
        }

        .task-comments-length {
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 3px;
            right: 13px;
            position: absolute;
            background-color: $primary-blue;
            color: white;
            width: 13px;
            height: 13px;
            border-radius: 2em;
            font-size: rem(10px);
        }
    }
}
