.task-list {
    border-bottom-left-radius: .3em;
    border-top-left-radius: .3em;
    border-right: none;
    width: fit-content;
    font-size: rem(14px);

    li {
        >* {
            &:first-child {
                background-color: rgb(255, 255, 255);
                position: sticky;
                left: 0px;
            }
        }
    }


    >*:first-child {
        text-transform: capitalize;

        .columns {
            grid-column: 6/-1;

            * {
                text-align: center;
                height: 100%;
                border-right: 1px solid $brdr-clr;
            }

            .add {
                width: 150px;
            }

            div {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fill, 150px);
                align-items: center;
            }

            &.ghost,
            .ghost {
                opacity: 0.2;
            }

            &.column-dragged {
                box-shadow: 0 0 30px 2px black;
            }

            .empty-span {
                position: sticky;
                background-color: white;
                left: 0px;
            }
        }



        >*:not(:first-child) {
            border-top: 1px solid $brdr-clr;
        }
    }

    >*:not(:last-child) {
        box-shadow: -5px 0px 0px 0px $brdr-clr;
    }

    .add-new-task {
        display: grid;
        align-items: center;
        width: 100%;
        height: 36px;
        position: relative;
        color: lighten($layout-black, 25%);
        box-shadow: -5px 0px 0px 0px lighten($brdr-clr, 7%);
        position: sticky;
        background-color: white;
        left: 0px;
        z-index: 500;

        :first-child {
            &.empty-span {

                background-color: white;
                z-index: 50;
                position: sticky;
                left: 0px;
                height: 100%;
                width: 100%;
            }
        }

        form {
            height: 100%;
            width: 100%;
            grid-column: 3/6;
            border-bottom: 1px solid $brdr-clr;
            border-right: none !important;
            position: sticky;
            background-color: white;
            left: 72px;
            z-index: 500;


            input {
                border-radius: .2em;
                padding: 2px;
                width: 100%;
                margin-left: 30px;
                margin-right: 20px;
            }

            input:focus {
                outline: 1px solid $primary-blue;
            }

            span {
                color: lighten($layout-black, 25%);
                border: none;
                position: absolute;
                left: 12px;
                scale: .8;
            }
        }




    }


    .task-footer {
        display: grid;
        color: $layout-black;
        grid-auto-columns: minmax(150px, 150px);
        grid-auto-flow: column;
        grid-template-rows: 36px;

        .empty-span {
            border: none;


        }

        .footer-span {
            z-index: 5;
            background-color: white;
        }

        :nth-child(6) {
            border-left: 1px solid $brdr-clr;
            border-bottom-left-radius: .3em;
        }
    }

    .task-summary {
        position: sticky;
        background-color: white;
        left: 72px;
        z-index: 500;



        .empty-span {
            position: sticky;
            background-color: white;
            z-index: 50;
        }


        :nth-child(1) {
            left: 0px;
        }

        :nth-child(2) {
            left: 36px;
        }

        :nth-child(3) {
            left: 72px;
        }

        :nth-child(4) {
            left: 222px;
            width: 300px;
        }

        .task-avatar {
            left: 0px;
        }

        .overlay-span {
            position: sticky;
            border-bottom-left-radius: 0;
            left: 522px;
            width: 8px;
            height: 36px;
            border-left: 1px solid white;
            border-bottom: 1px solid white;
            z-index: 50;

            .border-overlay-span {
                background-color: transparent;
                border-left: 1px solid $brdr-clr;
                border-bottom: 1px solid $brdr-clr;
                border-bottom-left-radius: .3em;
                height: 36px;
                margin-top: auto;
                min-width: .6em;
                // width: 8px;
            }

        }

        .remove-border-span {
            background-color: rgb(0, 0, 0);
            border: 1px solid white;
            width: 8px;
            height: 36px;
            // border-radius: 0;
            position: sticky;
            left: 522px;
            z-index: 60;
        }


        .label-progress {
            height: 36px;
            width: 150px;
            padding: 6px 8px;

            .label {
                height: 24px;
                display: inline-block;
            }
        }
    }
}