.task-list {
    .li-wrapper {
        position: relative;
    }

    li {
        display: grid;
        color: $layout-black;
        grid-template-columns: 36px 36px repeat(auto-fill, 150px);
        grid-auto-columns: 150px;
        grid-auto-flow: column;
        grid-template-rows: 36px;

        .task-members {
            position: relative;
            cursor: pointer;
        }

        &.content-li {
            // position: relative;
            &:hover {
                background-color: $wrkspce-bgc;

                .options {
                    visibility: inherit;
                    background-color: white;

                    .more {
                        &:hover {
                            color: #000;

                            background-color: $brdr-clr;
                            // padding-left: 8px;
                            border-radius: 7px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        > *:not(:first-child) {
            justify-self: space-between;
            display: flex;
            align-items: center;
            color: lighten($layout-black, 10%);
            border-bottom: 1px solid $brdr-clr;
            border-right: 1px solid $brdr-clr;
        }

        .empty-fill-span {
            height: 100%;
            border-right: none;
        }

        .task-select {
            border-left: 5px solid $layout-gray;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            > * {
                height: 16px;
                width: 16px;
            }
        }

        .status-item {
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                opacity: 0.9;
            }
        }

        .task-avatar {
            display: inline-block;
            position: relative;
            background-size: cover;
            width: 30px;
            height: 30px;
            border: 2px solid white;
            border-radius: 2em;
            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
        }

        &:first-child {
            span {
                justify-content: center;
            }
        }

        // Cols style:
        .header-task-select {
            border-top-left-radius: 0.3em;
        }

        .add-task-select {
            border-bottom-left-radius: 0.3em;
            border-left: 5px solid lighten($layout-gray, 30%);
        }

        .timeline {
            position: relative;
            .range {
                max-width: 100%;
                width: 100%;
                height: 22px;
                background-color: $layout-black;
                margin-inline: 16px;

                .value {
                    height: 22px;
                }
            }
        }

        .labels {
            position: relative;
            width: 100%;
            height: 100%;

            .label-name {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                cursor: pointer;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
        .link{
            @include cellBorderHover;
            // position: relative;
            // &:hover:before {
            //     content: "";
            //     position: absolute;
            //     top: 4px;
            //     bottom: 4px;
            //     border: 1px solid;
            //     border-color: $brdr-clr;
            //     pointer-events: none;
            //     z-index: 1;
            //     width: calc(100% - 10px);
            // }
            a {
                color:$clr-drk-blue;
            }
        }

    }

    .shallow{
        // position: relative;

        .static{
            padding-inline:10px;
        }

        textarea{
            resize: none;
            // padding-inline: 10px;
            // min-height: 100%;
            // width: 100%;
            // // position: relative;
            // top: 0 !important;
            // // overflow-y: visible;
            // z-index: 20000;
            // resize: vertical;
        }
    }

    .task-date {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .task-list-item-header,
    .task-title-item {
        grid-column: 3/6;
    }

    .task-title-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .task-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        border: none;
        margin-left: 25px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .task-comment-icon {
        height: 100%;
        padding: 0px 16px;
        border-left: 1px solid $brdr-clr;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        &.count-comment span svg {
            color: $primary-blue;
        }

        .task-comments-length {
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 3px;
            right: 13px;
            position: absolute;
            background-color: $primary-blue;
            color: white;
            width: 13px;
            height: 13px;
            border-radius: 2em;
            font-size: rem(10px);
        }
    }
}
