.triangle-modal {
    position: absolute;
    min-width: 152px;
    padding: 10px 14px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: white;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    top: 36px;
    z-index: 50;

    .task-label-modal {
        display: grid;
        grid-template-columns: 152px;
        margin: 0;
        justify-content: center;
        gap: 8px;

        .label {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: rem(14px);
            color: white;
            height: 32px;
            cursor: pointer;
            &:hover {
                opacity: 0.9;
            }
        }
    }

    .color-picker {
        display: grid;

        grid-template-columns: repeat(4, 1fr);
        gap: 4px;

        .color {
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 2px white soild;
            border-radius: 4px;
        }
    }

    .link-modal {
        width: 222px;
        padding: 6px 2px;
        label {
            font-size: rem(16px);
        }
        input {
            height: 40px;
            margin-top: 16px;
            width: 100%;
            margin-bottom: 24px;
            border: 1px solid rgb(195, 198, 212);
            padding: 0 16px;
            line-height: rem(21px);
        }
    }

    .persons-modal {
        display: flex;
        flex-wrap: wrap;
        width: 326px;

        img {
            width: 26px;
            height: 26px;
        }

        .active-persons {
            display: flex;
            // flex-grow: 1;
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: rem(12px);

            .person {
                display: flex;
                align-items: center;
                background-color: lighten($btn-active, 4%);
                border-radius: 2em;

                span {
                    width: 22px;
                    height: 22px;
                    border: none;
                }

                p {
                    margin-left: 6px;
                    margin-top: 2px;
                    padding: 0;
                }

                .remove-person-btn {
                    cursor: pointer;
                    scale: 0.8;
                }
            }
        }

        > *:last-child {
            margin: 0;
        }

        .suggested-persons {
            color: $layout-gray;
            flex-basis: 100%;
        }

        .not-active-persons {
            display: flex;
            flex-direction: column;
            width: 100%;

            .not-active-person {
                display: flex;
                width: 100%;

                > * {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    margin-top: 6px;
                    padding: 6px;
                    border-radius: 0.4em;
                    cursor: pointer;

                    &:hover {
                        background-color: $brdr-clr;
                    }

                    p {
                        padding-left: 8px;
                    }
                }
            }
        }
    }
}

.top-bot {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
    border-color: transparent transparent #fff transparent;
}
