.dashboard-container {
    display: grid;
    grid-template-areas:
        'bar box'
        'status box';
    grid-template-columns: 700px 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 36px;
    padding-right: 12px;
    height: 700px;



    .team-dashboard {

        transition: .4s;

        .txt {
            font-size: rem(16px);
            color: lighten($layout-gray, 8%);
            padding-bottom: 20px;
        }

        .team-titles {
            display: flex;
            align-items: center;
            padding-bottom: 16px;

            span {
                fill: $layout-black;
            }

            h1 {
                font-family: roboto-light;
                letter-spacing: 1;
                padding-left: 6px;
            }
        }

        .about {
            font-size: rem(20px);
            color: $layout-black;

            font-family: roboto-bold;

            span {
                color: lighten($layout-gray, 8%);
                font-size: rem(16px);
                font-family: roboto-regular;
            }
        }

        .team-members {
            margin-bottom: 12px;

            img {

                border-radius: 2em;
                width: 40px;
                height: 40px;
                border: 2px solid white;
                margin: 0 -5px;
            }
        }
    }

    .separator {
        height: 100%;
        width: 2px;
        background-color: lighten($brdr-clr, 8%);
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 60px;
        margin-left: 60px;
    }

    .statuses-dashboard {
        grid-area: status;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 1em;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
        width: 100%;
        padding: 18px;

        .statuses-title {
            display: flex;
            align-items: center;
            padding-bottom: 28px;

            span {
                padding-right: 8px;
                fill: $layout-black;
            }

            h1 {
                font-size: rem(18px);
                color: $layout-black;
            }
        }

        .card-container {
            display: flex;
            justify-content: space-between;
            height: 100%;

            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                min-width: 100px;
                width: 16%;
                height: 100%;
                border-radius: .5em;
                color: white;
                padding: 6px;

                .card-title {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    font-size: rem(16px);
                }

                .card-count {
                    font-size: rem(42px);
                }
            }




        }
    }

    .bar-chart {
        grid-area: bar;
        width: 100%;
        padding-bottom: 50px;

        .bar-chart-title {
            display: flex;
            align-items: center;
            padding-bottom: 12px;


            h1 {
                padding-left: 8px;
            }
        }
    }

    .right-dashboard {

        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: box;
        border-radius: 1em;
        min-width: 680px;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
        
        margin-left: 140px;
        margin-right: 10px;

        .pie-chart {
            width: 100%;
            height: 60%;

            .pie-chart-title {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 12px;

                h1 {
                    text-align: center;
                    padding-left: 8px;

                }
            }
        }



        .total-count {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 180px;
            border-radius: 1em;
            margin-top: auto;
            background-color: $primary-brand;
            color: white;

            .total-div {
                width: 200px;
                display: flex;
                flex-direction: column;
                text-align: center;

                span{
                    fill: white;
                    padding-bottom: 8px;
                }

                h1 {
                    font-size: rem(20px);
                    margin-bottom: 10px;
                    line-height: 28px;
                }

                p {
                    font-size: rem(48px);
                }
            }

            .separator {
                width: 1px;
                margin: 0;
                height: 100%;
            }
        }
    }

}