* {
    box-sizing: border-box;
}

::selection {
    background-color: $layout-black;
    color: $layout-black;
}

html {
    font-family: roboto-regular;
    line-height: 1.6;
    color: $layout-black;
}

body {
    font-size: rem(18px);
    margin: 0;
    height: 100vh;
    overflow: hidden;
    line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $layout-black;
}

button {
    cursor: pointer;
    border: none;
    font-family: roboto-regular;
}

input {
    border: unset;
    padding: 0;
    margin: 0;
    font-size: rem(14px);
    font-family: roboto-regular;
}

input[type=checkbox] {
    position: relative;
    border: 1px solid $brdr-clr;
    border-radius: 2px;
    background: none;
    cursor: pointer;
    line-height: 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    -webkit-appearance: none;
    opacity: 1;

}

input[type=checkbox]:checked {
    background-color: $primary-blue;
}

input[type=checkbox]:before {
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    width: 2px;
    height: 6px;
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
}

// input[type='checkbox'] {
//     // background:#ff0000;
//     appearance: none;
//     // background-color: #fafafa;
//     border: 1px solid #cacece;
//     padding: 7px;
//     border-radius: 3px;
//     display: inline-block;
//     position: relative;

//     &:checked {
//         background-color: $primary-blue;
//         border: 1px solid #adb8c0;
//         box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
//         color: #99a1a7;
//         // &::after{
//         //     content: 'X';
//         // }
//     }
// }


input:focus {
    outline: none;
}

img {
    width: 100%;
}

p {
    margin: 0;
    max-width: 40ch;
}

td {
    cursor: pointer;
}

textarea {
    resize: none;
}

::-webkit-scrollbar {
    height: 22px;
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: $brdr-clr;
}