// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$layout-padding: 12px;




// Colors

//basics
$clr--white: #fff;
$clr--black: #000;
$primary-text-color: #323338;

//regular-modal
$hr-clr: #e6e9ef;
$modal-hover-clr: #dcdfec;

//brand
$primary-brand: #292f4c;
$primary-brand-hover: #11131f;
$nav-prpl: #8f8fff;
$noify-red: #e3435c;
$wrkspce-icon: #f279f2;


//logo
$logo-red: #ff3d57;
$logo-yellow: #ffcb00;
$logo-green: #01d648;

// layout
$layout-black: #323338;
$layout-gray: #676879;
$primary-blue: #0073ea;
$primary-dark-blue: #0060b9;
$primamry-blue-hover: #0260b9;
$btn-hover: #dddfec;
$btn-active: #cce3fe;
$wrkspce-bgc: #f6f7fb;
$brdr-clr: #d0d5e4;
$fltr-bgc: #cce5ff;

// msg-color
$clr-mud_black: #323338;
$clr-success: #258750;
$clr-success-hover: #007038;
$clr-success-highlight: #bbdbc9;
$clr-done-green: #00c875;
$clr-error: #d83a52;
$clr-error-hover: #b63546;
$clr-error-highlight: #f4c3cb;

// user-palette
$usr-fuccia: #fb275d;
$usr-bright-green: #00ca72;
$usr-purple: rgb(163, 88, 208);
$usr-dark-indigo: rgb(89, 90, 212);
$usr-blackish: rgb(28, 31, 59);
$usr-chilli-blue: rgb(102, 204, 255);
$usr-brigh-orange: rgb(253, 171, 61);
$usr-egg-yolk: rgb(255, 203, 0);
$usr-royal: rgb(0, 154, 255);
$usr-light-red: rgb(246, 95, 124);
$usr-sophia-pink: rgb(255, 21, 138);
$usr-dark-red: rgb(226, 68, 92);
$usr-gray: rgb(128, 128, 128);
$usr-sky: rgb(87, 155, 252);
$usr-wine: rgb(187, 51, 84);
$usr-grass-green: rgb(3, 127, 76);
$usr-bubble: rgb(255, 90, 196);
$usr-bright-blue: rgb(31, 118, 194);
$usr-dark-orange: rgb(255, 100, 46);
$usr-dark-blue: rgb(34, 80, 145);


// entire palette
$clr-blackish: #333333;

// grays
$clr-lilac: #9D99B9;
$clr-steel: #A9BEE8;
$clr-american_gray: #808080;
$clr-winter: #9aadbd;
$clr-explosive: #c4c4c4;

// browns
$clr-pecan: #563E3E;
$clr-brown: #7f5347;
$clr-coffee: #BD816E;
$clr-tan: #AD967A;

// chromatic
$clr-bubble: #faa1f1;
$clr-orchid: #D974B0;
$clr-lipstick: #ff5ac4;
$clr-sofia_pink: #ff158a;
$clr-dark-red: #bb3354;
$clr-stuck-red: #e2445c;
$clr-sunset: #ff7575;
$clr-peach: #ffadad;
$clr-orange: #fdab3d;
$clr-dark-orange: #ff642e;
$clr-egg_yolk: #ffcb00;
$clr-saladish: #cab641;
$clr-bright-green: #9cd326;
$clr-jade: #03c875;
$clr-green-haze: #00a359;
$clr-grass_green: #037f4c;
$clr-aqua: #00d1d1;
$clr-teal: #175A63;
$clr-river: #68a1bd;
$clr-sky: #A1E3F6;
$clr-chili-blue: #66ccff;
$clr-dark-blue: #0086c0;
$clr-live_blue: #009aff;
$clr-royal: #2B76E5;
$clr-bright-blue: #579bfc;
$clr-jeans: #597bfc;
$clr-navy: #225091;
$clr-indigo: #5559df;
$clr-berry: #7e3b8a;
$clr-purple: #a25ddc;
$clr-lavender: #BDA8F9;
$clr-dark-purple: #784bd1;
$clr-dark_indigo: #401694;


// label-colors
$clr-dark_indigo: #401694;
$clr-egg_yolk: #ffcb00;
$clr-bright-green: #9cd326;
$clr-sofia_pink: #ff158a;
$clr-berry: #7e3b8a;
$clr-royal: #2B76E5;
$clr-jade: #03c875;
$clr-grass_green: #037f4c;
$clr-dark-purple: #784bd1;
$clr-bubble: #faa1f1;
$clr-aqua: #00d1d1;
$clr-teal: #175A63;
$clr-navy: #225091;
$clr-peach: #ffadad;
$clr-dark-orange: #ff642e;
$clr-indigo: #5559df;
$clr-river: #68a1bd;
$clr-sky: #A1E3F6;
$clr-lipstick: #ff5ac4;
$clr-purple: #a25ddc;
$clr-chili-blue: #66ccff;
$clr-stuck-red: #e2445c;
$clr-orange: #fdab3d;
$clr-live_blue: #009aff;
$clr-sunset: #ff7575;