// Colors

//basics
$clr--white: #fff;
$clr--black: #000;

//brand
$primary-brand: #292f4c;
$primary-brand-hover: #11131f;
$nav-prpl: #8f8fff;
$noify-red: #e3435c;
$wrkspce-icon: #f279f2;


//logo
$logo-red: #ff3d57;
$logo-yellow: #ffcb00;
$logo-green: #01d648;

// layout
$layout-black: #323338;
$layout-gray: #676879;
$btn-blue: #0373ea;
$btn-blue-hover: #0260b9;
$btn-hover: #dddfec;
$btn-active: #cce3fe;
$wrkspce-bgc: #f6f7fb;
$brdr-clr: #d0d5e4;

// user-palette
$clr-dark-grn: #047f4b;
$clr-lgt-grn: #9cd226;
$clr-drk-teal: #165a63;
$clr-lgt-teal: #4fccc6;
$clr-mstrd: #cab741;
$clr-yllw: #ffcb00;
$clr-vlt: #401794;
$clr-drk-prpl: #794bd1;
$clr-egplnt: #7e3b8a;
$clr-lgt-prpl: #a25cdc;
$clr-llch: #bda8f9;
$clr-gry-prpl: #9d99b8;
$clr-drk-blue: #0086c0;
$clr-blue: #579bfc;
$clr-nvy: #2a75e4;
$clr-lgt-blue: #65ccff;
$clr-trqs: #a1e2f7;
$clr-sky-blue: #a9bee8;
$clr-gry-blue: #9bacbd;
$clr-brdx: #ba3254;
$clr-red: #fe7575; //?
$clr-slmn: #feaead;
$clr-fcci: #fe178a;
$clr-drk-pink: #fe5bc4;
$clr-pink: #d973b0;
$clr-lgt-pink: #faa1f0;
$clr-drk-orng: #ff642e;
$clr-pch: #bc816e;
$clr-lgt-orng: #fdac3d;
$clr-lgt-brwn: #ac977a;
$clr-drk-brwn: #7f5347;
$clr-mud: #553e3d;
$clr-lgt-gry: #c4c4c4;
$clr-drk-gry: #808080;
$clr-blck: #333333;
// $clr-: rgb(,,);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$layout-padding: 12px;